@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

body{
    color: rgb(228, 115, 115);
    margin: 0;
    padding: 0;
z-index: 1;
}

.ti{background-color: transparent;
margin-right: 50px;
color: rgb(228, 115, 115);
text-decoration: none;
font-size: 40px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
    position: relative;
    z-index: 2;
}

.header .nav-links{
    list-style: none;

}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;

}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.header .nav-links a{
    font-size: 700;
    color: rgb(228, 115, 115);
    text-decoration: none;
}

.header .nav-links li a:hover{
    color:rgb(232, 61, 61) ;
}


.header .btn button{
    font-weight: 700;
    color:rgb(228, 115, 115) ;
    padding: 9px 25px;
}


.header .btn button:hover{
    background-color:  rgb(230, 45, 45);
    color:  rgb(228, 115, 115);
    transform: scale(1.2);
}



video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.capa{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(41, 16, 16);
    opacity: .5;
    mix-blend-mode: overlay;

}

.rose {
    width: 300px;
    border-radius: 10px;

}


.cont{
    height: 100vh;
    justify-content: center;
   padding: 20px;

    
}


.row{
    display: flex;
    padding: 5px;
}


.column{
    flex: 75%;
    padding: 10px;
}

.column img{
margin-top: 5px;
}

@media (max-width:600px){
    .column{
        flex: 125%
    }
}